# Environment Variables
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:54320/ddd_db?schema=public"
DATABASE_URL_REPLICA="postgresql://postgres:postgres@localhost:54320/ddd_db?schema=public"

# Application
LOG_LEVEL=debug

# SonarQube
SONAR_KEY=key-test
SONAR_PROJECT_NAME=project-test
SONAR_TOKEN=token-test
SONAR_HOST_URL=http://localhost:9000
SONAR_ORG=organization-test