services:
  postgres:
    image: postgres:15-alpine
    container_name: ddd-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ddd_db
    ports:
      - "54320:5432"
    volumes:
      - postgres_db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:latest
    container_name: ddd-adminer
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8081:8080"
    restart: unless-stopped
volumes:
  postgres_db:
